{% extends 'shop/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<form method="post" action="{% url 'shop:create_product' %}" class="js-good-create-form">
    {% csrf_token %}
    <div class="modal-body">
        {% include "shop/includes/form.html" %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create good</button>
    </div>
</form>
{% endblock content %}
