{% load product_tags %}

{% for product in products %}

<div class="card text-center">
    <div class="card-header">
        {{ product.name }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ product.full_name }}</h5>
        <p class="card-text">Цена: {{ product.price }} руб.</p>
        <p class="card-text">Описание: {{ product.description }}</p>

        {% product_tags product %}

        <a href="#" class="btn btn-custom btn-primary">Подробно о товаре</a>
    </div>
    <div class="card-footer text-muted">
        Дата поступления: {{ product.receipt_date|date:"d.m.Y" }}
    </div>
</div>

{% endfor %}