{{ form.non_field_errors }}

<div class="form-floating mb-3">
    {{ form.name }}
    <label for="id_name">Наименование</label>
</div>
<div class="form-floating mb-3">
    {{ form.full_name }}
    <label for="id_full_name">Полное наименование</label>
</div>
<div class="form-floating mb-3">
    {{ form.price }}
    <label for="id_price">Цена</label>
</div>
<div class="form-floating mb-3">
    {{ form.unit_measure }}
    <label for="id_unit_measure">Ед. изм.</label>
</div>
<div class="form-floating mb-3">
    {{ form.description }}
    <label for="id_description">Описание</label>
</div>

